.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.lite-box{
  height: 400px;
}

.services-box h2 {
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(270deg, #da7c25 50%, #b923e1 100.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-box p {
  font-size: 17px;
  color: #d4d4d4;
  line-height: 26px;
  max-width: 300px;
}
.services-box:hover {
  /* border-color: #b923e1;
  background: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.019);
  transition: 0.4s;
  border-radius: 20px; */
}
.services-box-btn {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.services-box-btn a{
  scale: 1.7;
  color: #ffff;
}

.services-box button {
  display: flex;
  border: 0;
  outline: 0;
  background: transparent;
  color: #ffff;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
}

.services-box button img {
  width: 20px;
}

.services-box button:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1120px) {
  .services-container {
    grid-template-columns: 1fr 1fr;
  }
  .services-box {
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 620px) {
  .services-box h2 {
    font-size: 20px;
  }
  .services-box h3 {
    font-size: 12px;
  }
  .services-box p {
    font-size: 15px;
  }
  .services-box button {
    padding: 11px 14px;
  }
}

@media (max-width: 300px) {
  .services-box {
    padding: 10px;
    font-size: 17px;
  }
  .services-box button img {
    width: 15px;
  }
  .services-box button {
    font-size: 11px;
  }
  .services-box h2 {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .services-content {
    padding: 0;
    margin: 0;
  }
}

.project-image {
  max-width: 300px;
}

.project-image img {
  width: 100%;
}
