:root {
  --font-color: #323232;
  --bg-color: #f9f9f909;
  --shadow: rgba(0, 0, 0, 0.2);
  /* --highlight: rgba(255, 255, 255, 0.7); */
  --hover-shadow: rgba(0, 0, 0, 0.4);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 300px;
  min-height: 300px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 25px var(--hover-shadow);
}

.card__img {
  width: 100%;
  height: 50%; /* Fixed height for the image container */
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 60%;
  object-fit: cover; /* Ensures the image covers the entire div */
}

.card__descr-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%; /* Remaining space for text and links */
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__descr {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 15px;
}

.card__links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.link {
  font-size: 0.9rem;
  font-weight: bold;
  color: #0073e6;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #005bb5;
}

.svg {
  /* color: #333; */
  text-decoration: none;
  transition: transform 0.3s;
  color: #211f1f;
  filter: invert(1);
  scale: 0.8;
  transition: 0.3s;
}

.svg:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 90%;
    height: auto; /* Allowing cards to adjust height for mobile */
    margin: 0 auto;
  }

  .card__title {
    font-size: 1rem;
  }

  .card__descr {
    font-size: 0.8rem;
  }

  .svg {
    width: 20px;
    height: 20px;
  }
}
